.container {
    background: lightblue;
    border: 1px solid blue;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: lightcoral;
    border: 10px solid red;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 80px;
}